<!--FAQ Section Start Here -->

<!-- <div class="my_cart_wrap">
  <div class="faq_banner_wrap">
      <div class="faq_banner">
          <div class="faq_banner_content">
              <h2>FAQ's</h2>
           </div>
     </div>
 </div>
<div class="faq_wrap">

      <div class="faq_search_wrap">
          <input class="form-control" type="text" placeholder="Seacrh by FAQ's">
          <img src="assets/images/serach_icon.png" alt="">
      </div>
          <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>

                      <h4 class="panel-title">
                          <a > <span>01. Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              ?</span> </a>
                      </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                      <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                              eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                              voluptua. At vero eos et accusam et justo duo dolores et ea rebum.Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua..
                          </p>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                      <h4 class="panel-title">
                          <a ><span>02. Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              ?</span></a>
                      </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                              eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                              voluptua. At vero eos et accusam et justo duo dolores et ea rebum.Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua..
                          </p>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" >
                      <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                      <h4 class="panel-title">
                          <a >
                              <span>03. Lorem
                                  ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                  ?</span></a>
                      </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                              eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                              voluptua. At vero eos et accusam et justo duo dolores et ea rebum.Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua..
                          </p>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" >
                      <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                      <h4 class="panel-title">
                          <a >
                              <span>04. Lorem
                                  ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                  ?</span></a>
                      </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                              eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                              voluptua. At vero eos et accusam et justo duo dolores et ea rebum.Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua..
                          </p>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" >
                      <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                      <h4 class="panel-title">
                          <a >
                              <span>05. Lorem
                                  ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                  ?</span></a>
                      </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                              eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                              voluptua. At vero eos et accusam et justo duo dolores et ea rebum.Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua..
                          </p>
                      </div>
                  </div>
              </div>
          </div>
  </div>
</div> -->

<div class="my_cart_wrap">
  <div class="faq_banner_wrap">
      <div class="faq_banner">
          <div class="faq_banner_content">
              <h2>FAQs</h2>
           </div>
     </div>
 </div>
<div class="faq_wrap">
    <h2>FAQs</h2>

      <div class="faq_search_wrap">
          <input class="form-control" (input)="searchFaq($event)" type="text" placeholder="Search by FAQs">
          <!-- <img src="assets/images/serach_icon.png" alt=""> -->
          <i  aria-hidden="true" class="fa fa-search"></i>
      </div>
          <div class="panel-group" id="accordion">
              <div (click)="handleClickFaq(i+1)" class="panel panel-default" *ngFor="let item of sortedFaqListArr; let i = index">
                  <a class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{i}}">
                     <i class="fa fa-angle-up" aria-hidden="true"></i>
                         <span class="index_conut">{{i+1}}. </span> <p>{{item.title}}</p>
                    </a>
                  <div id="collapseOne{{i}}" class="panel-collapse collapse ">
                      <div class="panel-body">
                        <span class="index_conut">{{i+1}}. </span> <p [innerHTML]="item.description | nl2br"></p>
                          <a [href]="item.link" *ngIf="item.link"> Links </a>
                          <div class="faq_screenshot">
                              <img [defaultImage]="defaultImage" [lazyLoad]="item.name" alt="" *ngIf="item.name">
                          </div>
                      </div>
                  </div>
              </div>
              <!-- <div class="panel panel-default">
                  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                      <h4 class="panel-title">
                          <a ><span>02. Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              ?</span></a>
                      </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                              eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                              voluptua. At vero eos et accusam et justo duo dolores et ea rebum.Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua..
                          </p>
                          <a href="javascript:void(0);"> Links </a>
                          <div class="faq_screenshot">
                              <img src="assets/images/onboarding_img.png" alt="">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" >
                      <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                      <h4 class="panel-title">
                          <a >
                              <span>03. Lorem
                                  ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                  ?</span></a>
                      </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                              eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                              voluptua. At vero eos et accusam et justo duo dolores et ea rebum.Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua..
                          </p>
                          <a href="javascript:void(0);"> Links </a>
                          <div class="faq_screenshot">
                              <img src="assets/images/product_3.png" alt="">
                          </div>

                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" >
                      <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                      <h4 class="panel-title">
                          <a >
                              <span>04. Lorem
                                  ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                  ?</span></a>
                      </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                              eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                              voluptua. At vero eos et accusam et justo duo dolores et ea rebum.Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua..
                          </p>
                          <a href="javascript:void(0);"> Links </a>
                          <div class="faq_screenshot">
                              <img src="assets/images/faq_banner.png" alt="">
                          </div>
                      </div>
                  </div>
              </div>
              <div class="panel panel-default">
                  <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" >
                      <span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                      <h4 class="panel-title">
                          <a >
                              <span>05. Lorem
                                  ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                  ?</span></a>
                      </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse">
                      <div class="panel-body">
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                              eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                              voluptua. At vero eos et accusam et justo duo dolores et ea rebum.Lorem
                              ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua..
                          </p>
                          <a href="javascript:void(0);"> Links </a>
                          <div class="faq_screenshot">
                              <img src="assets/images/faq_banner.png" alt="">
                          </div>
                      </div>
                  </div>
              </div> -->
          </div>
  </div>
</div>


<!-- FAQ Section End Here -->
