  <div class="logo_wrap_bg">
    <div class="login_wrap">
  <div class="left_side_wrap">

  </div>
   <div class="right_side_wrap">
   <div class="lal_10_logo">
   <img src="assets/images/lal10_logo.png" alt="">
   </div>
      <div class="welcome_cont">
    <h2></h2>
    </div>
<div class="email_verfy_wrap" *ngIf="result && result === 1">
  <h2>Thank you for subscribing to our periodic newsletter</h2>
  <!-- <h2 style="color: #000000bf;font-size: 29px;">Please refresh your page</h2> -->
</div>
<div class="email_verfy_wrap" *ngIf="result === 0">
  <h2>You have already subscribed to our periodic newsletter</h2>
</div>
  <div class="continue_btn" (click)="navigateToHome()"> <button>Continue</button></div>
  </div>
  </div>
  </div>


