<!-- Restrun & Refund Policy Section End Here -->
<div class="privacy_policy_wrap">
  <h2>  {{refundObj?.title}}
  </h2>
  <div class="post" [innerHTML]="refundObj?.description">
    <!-- <h2 style="font-size: 25px; font-weight: bold"><b>INTRODUCTION</b></h2>
    <p style="font-size: 16px; line-height: 25px" align="justify"> Welcome to www.lal10.com (the “Company”, “We”).</p>
    <p style="font-size: 16px; line-height: 25px" align="justify">www.lal10.com (the “Site”) allows you to browse, select and purchase personalised and non personalised
      items for textile, garments, and home decor products. (collectively "Process”).</p>
      <p style="font-size: 16px; line-height: 25px" align="justify">However, before you enter the website or use any of the www.lal10.in services, you must carefully review
          the Terms and Conditions set out below (the "Terms"). In addition, specific pages on the site may set out
          additional terms and conditions, all of which are incorporated by reference into these Terms. These Terms
          may be changed or updated at any time, but you can always find the most recent version here. In the case
          of inconsistencies between these Terms and information included in off-line materials (for example,
          promotional materials and mailers), these Terms will always control. We suggest you periodically check this
          page to make sure you are up to date.</p>
      <p style="font-size: 16px; line-height: 25px" align="justify">By entering and using the site, you indicate that you accept these Terms and that you agree to be bound by
          them. Acceptance of these Terms creates a binding contract between you and www.lal10.com that you will
          use the Service only in a manner consistent with these Terms. Your use of the site and its services (together,
          the "Service") is entirely conditioned on and subject to your compliance with these Terms. If you do not
          agree with these Terms, do not access or use the Service. </p>
          <h2 style="font-size: 25px; font-weight: bold"><b>SERVICES</b></h2>

      <p style="font-size: 16px; line-height: 25px" align="justify"> www.lal10.in provides users with access to personalised and non personalised textile, garments, and home
          decor products that can be purchased at the price mentioned on the site.</p>
          <h2 style="font-size: 25px; font-weight: bold"><b>GENERAL</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="justify"> This Agreement sets forth the terms and conditions that apply to the use of the Site by the User. By using
          this Site, the User agrees to comply with all of the TERMS AND CONDITIONS hereof. The right to use the
          Site is personal to the User and is not transferable to any other person or entity. The User shall be
          responsible for protecting the confidentiality of their password(s), if any. The User acknowledges that,
          although the internet is usually a secure environment, sometimes there are interruptions in service or events
          that are beyond the control of the Company, and the Company shall not be responsible for any data lost
          while transmitting information on the internet. While it is the Company’s objective to make the Site
          accessible 24 hours per day, 7 days per week, the Site may be unavailable from time to time for any reason
          including, without limitation, routine maintenance. You understand and acknowledge that due to
          circumstances both within and outside of the control of the Company, access to the Site may be interrupted,
          suspended or terminated from time to time. The Company shall have the right at any time to change or
          discontinue any aspect or feature of the Site, including, but not limited to, content, hours of availability and
          equipment needed for access or use.</p>
          <h2 style="font-size: 25px; font-weight: bold"><b>PRICING</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="justify">www.lal10.in strives to provide users with the best prices possible on products and/or services. Products will
          be sold at the same cost as by the brand directly. Prices and availability are subject to change without any
          prior notice. The pricing is subject to our pricing policy and the prices shall be determined only at our sole
          discretion. </p>
      <p style="font-size: 16px; line-height: 25px" align="justify">While we strive to provide accurate product and pricing information, pricing or typographical errors may
          occur. In the event that a product is listed at an incorrect price or with incorrect information due to an error in
          pricing or product information, we may, at our discretion, either contact you for instructions or cancel your
          order and notify you of such cancellation. We will have the right to modify the price of the product and
          contact you for further instructions using the e-mail address or telephone number provided by you during the
          time of registration, or cancel the order and notify you of such cancellation. In the event that we accept your
          order the same shall be debited to your credit card account. The payment may be processed prior to our
          dispatch of the product that you have ordered. If we have to cancel the order after we have processed the
          payment, the said amount will be reversed back to your credit card account. </p>
          <h2 style="font-size: 25px; font-weight: bold"><b>PAYMENT</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="justify"> Payments on www.lal10.in can be made through Credit Card, Debit Card, Net Banking, PayPal or
          PayTM.And Cod. Please refer our FAQs for further information.</p>
          <h2 style="font-size: 25px; font-weight: bold"><b>CREDIT CARD DETAILS </b></h2>
      <p style="font-size: 16px; line-height: 25px" align="justify">User understands and confirms that the credit card details provided for availing of services on the Site will
          be correct and accurate and he/she shall not use the credit card which is not lawfully owned by them or in
          their name. User further agrees and undertakes to provide the correct and valid credit card details. </p>
      <p style="font-size: 16px; line-height: 25px" align="justify"> The company has taken reasonable care to make the website secure. All credit/ debit card transactions on
          the site are processed using a secure online payment gateway that encrypts your card details in a secure
          host environment. Credit card information will not be utilized, stored and/or shared by us with any of the third
          parties unless required for fraud verifications or by law, regulation or court order. We will not be liable for any
          credit card fraud. The liability for use of a card fraudulently will be on you and the onus to 'prove otherwise'
          shall be exclusively on you.</p>
          <h2 style="font-size: 25px; font-weight: bold"><b>CANCELLATION OF ORDER BY THE COMPANY</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="justify"> Please note that there may be certain orders that we are unable to accept and must cancel. We reserve the
          right, at our sole discretion, to refuse or cancel any order for any reason. Some situations that may result in
          your order being cancelled shall include limitations on quantities available for purchase, inaccuracies or
          errors in product or pricing information, or any defect regarding the quality of the product. We may also
          require additional verifications or information before accepting any order. We will contact you if all or any
          portion of your order is cancelled or if additional information is required to accept your order. If your order is
          cancelled after your credit card has been charged, the said amount will be reversed back in your Card
          Account.</p>
          <h2 style="font-size: 25px; font-weight: bold"><b>CANCELLATION OF THE ORDER BY USER</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="justify">In case of requests for order cancellations, we reserve the right to accept or reject requests for order
          cancellations for any reason. If an order has been processed and/or put into production, it cannot be
          cancelled. The Company has the full right to decide whether an order has been processed or not. The User
          agrees not to dispute the decision made by us and accepts our decision regarding the cancellation.
           </p>
           <h2 style="font-size: 25px; font-weight: bold"><b>LIMITATION OF LIABILITY</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="justify">Except to the extent required by applicable law and then only to that extent, in no event will www.lal10.in, its
          employees, officers, directors, affiliates or agents, be liable to you on any legal theory for any incidental,
          direct, indirect, punitive, actual, consequential, special, exemplary or other damages, including without
          limitation, loss of revenue or income, lost profits, pain and suffering, emotional distress, cost of substitute
          goods or services, or similar damages suffered or incurred by you or any third party that arise in connection
          with the site or Services (or the termination thereof for any reason), even if www.lal10.in has been advised of
          the possibility of such damages. </p>

      <p style="font-size: 16px; line-height: 25px" align="justify"> The site shall not be responsible or liable whatsoever in any manner for any content posted on the websites
(including claims of infringement relating to content posted, or for the conduct of third parties).</p>
<h2 style="font-size: 25px; font-weight: bold"><b>INDEMNITY</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="justify">User shall to the fullest extent indemnify and hold harmless the Company, its subsidiaries and affiliates, and
          their respective officers, directors, shareholders, agents, and employees, from any claim or demand, or
          actions including reasonable attorneys' fees, made by any third party or penalty imposed due to or arising
          out of your breach of this Agreement, or the documents it incorporates by reference, or your violation of any
          law, rules or regulations or the rights of a third party. </p> -->



   </div>
</div>
<!-- Restrun & Refund Policy Section End Here -->
