  <div class="logo_wrap_bg">
    <div class="login_wrap">
      <div class="left_side_wrap"></div>
      <div class="right_side_wrap">
        <div class="lal_10_logo">
          <img src="assets/images/lal10_logo.png" alt="" />
        </div>
        <ng-container *ngIf="editingPassword">
          <div class="welcome_cont">
            <h2>Reset Password</h2>
          </div>
          <div [formGroup]="editPasswordForm" class="common_input_warp">
            <div class="form-group">
              <label for="">New Password</label>
              <input [type]="newPasswordType ? 'text' : 'password'" class="form-control"
                  placeholder="New Password" formControlName="newPassword" [maxLength]="20">
                <div class="show_pass_forgot"> <i class="fa" [ngClass]="{
                    'fa-eye-slash': !newPasswordType,
                    'fa-eye': newPasswordType
                  }" (click)="toggleFieldTextType(2)" aria-hidden="true"></i></div>
              <ng-container *ngIf="submittedPassword && pass.newPassword.errors">
                <div class="error" *ngIf="pass.newPassword.errors.required">New password is required</div>
                <div class="error" *ngIf="!pass.newPassword.errors.required && pass.newPassword.errors.minlength">
                  Minimum length is {{ pass.newPassword.errors.minlength.requiredLength }}
                </div>
              </ng-container>
          </div>
          <div class="form-group">
            <label for="">Confirm Password</label>
            <input [type]="confirmPassowrdType ? 'text' : 'password'" class="form-control"
                placeholder="Confirm Password" formControlName="confirmNewPassword">
                <div class="show_pass_forgot">  <i class="fa" [ngClass]="{
                  'fa-eye-slash': !confirmPassowrdType,
                  'fa-eye': confirmPassowrdType
                }" (click)="toggleFieldTextType(3)" aria-hidden="true"></i> </div>
            <ng-container *ngIf="submittedPassword && pass.confirmNewPassword.errors">
              <div class="error" *ngIf="pass.confirmNewPassword.errors.required">Confirm password required</div>
            </ng-container>
            <ng-container *ngIf="pass.confirmNewPassword.errors">
              <div class="error" *ngIf="!pass.confirmNewPassword.errors.required && pass.confirmNewPassword.errors.mustMatch">Passwords do not match</div>
            </ng-container>
        </div>
          </div>
          <div class="continue_btn"><button (click)="submitPassword()">Change Password</button></div>
        </ng-container>

        <ng-container *ngIf="!editingPassword">
          <div class="welcome_cont">
            <h2>Password Reset Successully !</h2>
          </div>
          <div class="common_input_warp">
            <p>Please sign in with your new password</p>
          </div>
          <div class="continue_btn"><button (click)="navigateToLogin()">Sign in</button></div>
        </ng-container>
      </div>
    </div>
  </div>
