<div id="wrapper">
  <div class="registration_wrap">
    <div class="registration_form">
      <button class=" button btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Open Congratulation Modal
      </button>
    </div>
  </div>
</div>

<!-- Modal Section Start Here  -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog congrats_modal_wrap_width" role="document">
    <div class="modal-content congrats_modal_wrap">
      <div type="button" class="close_btn" data-dismiss="modal" aria-label="Close">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
      <div class="modal-body ">


        <div class="congats_logo">
          <img src="assets/images/congrats_icon.png" alt="" />
        </div>
        <div class="modal_msg">
          <h2>Congratulations!!</h2>
          <p>Your account has been created. You may now enjoy all that lal10
            has to offer, including</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continue Shopping</button>
      </div>
    </div>
  </div>
</div>