<!-- Privacy Policy Section Start Here -->
<div class="privacy_policy_wrap">
  <h2>{{privacyObj?.title}} </h2>
  <div class="post" [innerHTML]="privacyObj?.description">
    <!-- <h2 style="font-size: 25px; font-weight: bold"><b>INTRODUCTION</b></h2>
    <p style="font-size: 16px; line-height: 25px" align="left"> Welcome to www.lal10.com (the “Company”, “We”).</p>
    <p style="font-size: 16px; line-height: 25px" align="left">www.lal10.com (the “Site”) allows you to browse, select and purchase personalised and non personalised
      items for textile, garments, and home decor products. (collectively "Process”).</p>
      <p style="font-size: 16px; line-height: 25px" align="left">However, before you enter the website or use any of the www.lal10.in services, you must carefully review
          the Terms and Conditions set out below (the "Terms"). In addition, specific pages on the site may set out
          additional terms and conditions, all of which are incorporated by reference into these Terms. These Terms
          may be changed or updated at any time, but you can always find the most recent version here. In the case
          of inconsistencies between these Terms and information included in off-line materials (for example,
          promotional materials and mailers), these Terms will always control. We suggest you periodically check this
          page to make sure you are up to date.</p>
      <p style="font-size: 16px; line-height: 25px" align="left">By entering and using the site, you indicate that you accept these Terms and that you agree to be bound by
          them. Acceptance of these Terms creates a binding contract between you and www.lal10.com that you will
          use the Service only in a manner consistent with these Terms. Your use of the site and its services (together,
          the "Service") is entirely conditioned on and subject to your compliance with these Terms. If you do not
          agree with these Terms, do not access or use the Service. </p>
          <h2 style="font-size: 25px; font-weight: bold"><b>SERVICES</b></h2>

      <p style="font-size: 16px; line-height: 25px" align="left"> www.lal10.in provides users with access to personalised and non personalised textile, garments, and home
          decor products that can be purchased at the price mentioned on the site.</p>
          <h2 style="font-size: 25px; font-weight: bold"><b>GENERAL</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="left"> This Agreement sets forth the terms and conditions that apply to the use of the Site by the User. By using
          this Site, the User agrees to comply with all of the TERMS AND CONDITIONS hereof. The right to use the
          Site is personal to the User and is not transferable to any other person or entity. The User shall be
          responsible for protecting the confidentiality of their password(s), if any. The User acknowledges that,
          although the internet is usually a secure environment, sometimes there are interruptions in service or events
          that are beyond the control of the Company, and the Company shall not be responsible for any data lost
          while transmitting information on the internet. While it is the Company’s objective to make the Site
          accessible 24 hours per day, 7 days per week, the Site may be unavailable from time to time for any reason
          including, without limitation, routine maintenance. You understand and acknowledge that due to
          circumstances both within and outside of the control of the Company, access to the Site may be interrupted,
          suspended or terminated from time to time. The Company shall have the right at any time to change or
          discontinue any aspect or feature of the Site, including, but not limited to, content, hours of availability and
          equipment needed for access or use.</p>
          <h2 style="font-size: 25px; font-weight: bold"><b>USE OF THE WEBSITE</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="left">User must agree that he/she will make only lawful use of the Site, and will use the Site only in compliance
          with all state and local laws and regulations. www.lal10.in may change, suspend, discontinue or remove any
          aspect of the site at any time, without prior notice, including the availability of any site feature, services or
          content or any material you have published www.lal10.in may restrict your access to certain features,
          Services or content at any time, without prior notice. </p>
      <p style="font-size: 16px; line-height: 25px" align="left">User must represent that he/she is of legal age to form a binding contract and is not a person barred from
receiving services under the laws as applicable in India. User must also agree to provide true, accurate,
current and complete information about themselves as prompted by the Site's registration form. If the user
provides any information that is untrue, inaccurate, not current or incomplete (or becomes untrue,
inaccurate, not current or incomplete), or We have reasonable grounds to suspect that such information is
untrue, inaccurate, not current or incomplete, We have the right to suspend or terminate your account and
refuse any and all current or future use of the Site (or any portion thereof).</p>
      <p style="font-size: 16px; line-height: 25px" align="left">Access to and use of password protected and/or secure areas of the Site is restricted to authorized users
          only. Unauthorized individuals attempting to access these areas of the Site may be subject to prosecution.</p>
       <p style="font-size: 16px; line-height: 25px" align="left"> The user shall ensure that his/her data is not accessible by third parties and is liable for all transactions and
          other activities carried out under its account. At the end of each online session, the user shall log-off from
          the website. If and to the extent the user becomes aware that third parties are misusing his/her data the user
          shall notify www.lal10.com thereof without undue delay in writing, or, as the case may be, by e-mail.</p>
      <p style="font-size: 16px; line-height: 25px" align="left">In the event that the User’s telephone, computer hardware or any other equipment is damaged resulting
          from the use of the Site, the Company shall not be liable </p>
      <h2 style="font-size: 25px; font-weight: bold"><b>USER INFORMATION </b></h2>
      <p style="font-size: 16px; line-height: 25px" align="left"> “User Information” is defined as any information provided to the Site via the registration process, feedback,
          emails etc. User is solely responsible for this information and the Company will respect a user’s privacy
          (please refer our Privacy Policy). The Company will communicate with users via email and send promotional
          material from time to time. Users can opt out of these emails at any time upon request.</p>
      <p style="font-size: 16px; line-height: 25px" align="left">User shall not host, display, upload, modify, publish, transmit, update or share any information or share/list(s)
          any information or item that: </p>
          <ol style="list-style-type: decimal;">
              <li> belongs to another person and to which He/she does not have any right to;</li>
              <li> is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, paedophilic,
                  libellous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging,
                  relating or encouraging money laundering or gambling, or otherwise unlawful in any manner
                  whatever;</li>
              <li>harm minors in any way; </li>
              <li> infringes any patent, trademark, copyright or other proprietary rights</li>
              <li>violates any law for the time being in force; </li>
              <li> deceives or misleads the addressee/ users about the origin of such messages or communicates
                  any information which is grossly offensive or menacing in nature;</li>
              <li>impersonate another person; </li>
              <li> contains software viruses or any other computer code, files or programs designed to interrupt,
                  destroy or limit the functionality of any computer resource;</li>
              <li>threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign
                  states, or public order or causes incitement to the commission of any cognizable offence or
                  prevents investigation of any offence or is insulting any other nation </li>
              <li>shall not create liability for us or cause us to lose (in whole or in part) the services of our ISPs or
                  other suppliers; </li>
          </ol>
      <p style="font-size: 16px; line-height: 25px" align="left">If a User partakes in any of the above, the Company is entitled at any time and without obligation to give
          reasons, to deny the User the right to access the Site. </p>
          <h2 style="font-size: 25px; font-weight: bold"><b>PRODUCTS</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="left">www.lal10.com sells products on the Site under the name of the Vendors directly. No product designed or
          produced by one vendor will be sold under the name of another vendor without explicit consent. The website
          reserves the right to make changes to the prices of the products at any time without prior notification and/or
          remove any products from the website. </p>
      <p style="font-size: 16px; line-height: 25px" align="left">While the Company has made every effort to display the products and the product colours as accurately as
          possible on the Site, we cannot guarantee that your monitor or screen’s display of colour will be completely
          accurate. </p>
      <p style="font-size: 16px; line-height: 25px" align="left"> In the event that a particular colour or material is not available, the Company will contact the customer and
          inform him/her. If the difference is negligible, order will be processed as usual.</p>
      <p style="font-size: 16px; line-height: 25px" align="left">In the case of personalised products, the final look often depends on the length of the name. If there is any
          discrepancy in the look due to customisation, the Company shall not be responsible. </p>
          <h2 style="font-size: 25px; font-weight: bold"><b>PRICING</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="left">www.lal10.in strives to provide users with the best prices possible on products and/or services. Products will
          be sold at the same cost as by the brand directly. Prices and availability are subject to change without any
          prior notice. The pricing is subject to our pricing policy and the prices shall be determined only at our sole
          discretion. </p>
      <p style="font-size: 16px; line-height: 25px" align="left">While we strive to provide accurate product and pricing information, pricing or typographical errors may
          occur. In the event that a product is listed at an incorrect price or with incorrect information due to an error in
          pricing or product information, we may, at our discretion, either contact you for instructions or cancel your
          order and notify you of such cancellation. We will have the right to modify the price of the product and
          contact you for further instructions using the e-mail address or telephone number provided by you during the
          time of registration, or cancel the order and notify you of such cancellation. In the event that we accept your
          order the same shall be debited to your credit card account. The payment may be processed prior to our
          dispatch of the product that you have ordered. If we have to cancel the order after we have processed the
          payment, the said amount will be reversed back to your credit card account.</p>
          <h2 style="font-size: 25px; font-weight: bold"><b>PAYMENT</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="left">Payments on www.lal10.in can be made through Credit Card, Debit Card, Net Banking, PayPal or
          PayTM.And Cod. Please refer our FAQs for further information. </p>
          <h2 style="font-size: 25px; font-weight: bold"><b>CREDIT CARD DETAILS</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="left">User understands and confirms that the credit card details provided for availing of services on the Site will
          be correct and accurate and he/she shall not use the credit card which is not lawfully owned by them or in
          their name. User further agrees and undertakes to provide the correct and valid credit card details. </p>
      <p style="font-size: 16px; line-height: 25px" align="left"> The company has taken reasonable care to make the website secure. All credit/ debit card transactions on
          the site are processed using a secure online payment gateway that encrypts your card details in a secure
          host environment. Credit card information will not be utilized, stored and/or shared by us with any of the third
          parties unless required for fraud verifications or by law, regulation or court order. We will not be liable for any
          credit card fraud. The liability for use of a card fraudulently will be on you and the onus to 'prove otherwise'
          shall be exclusively on you.</p>
          <h2 style="font-size: 25px; font-weight: bold"><b>LICENSE AND OWNERSHIP</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="left"> Any and all intellectual property rights ("Intellectual Property") associated with the website and its contents
          (the "Content") are the sole property of the Company, its affiliates or third parties. The Content is protected
          by copyright and other laws in both the India and other countries. Elements of the site are also protected by
          trade dress, trade secret, unfair competition, and other laws and may not be copied or imitated in whole or in
          part. All custom graphics, icons, and other items that appear on the website are trademarks, of www.lal10.in,
          its affiliates or third parties and may not be used or interfered with in any manner without the express written
          consent of www.lal10.in. Except as otherwise expressly authorized by these terms of use, you may not copy,
          reproduce, modify, lease, loan, sell, create derivative works from, upload, transmit, or distribute the
          intellectual property of the website in any way without prior written permission from the Company. Except as
          expressly provided herein, www.lal10.in does not grant to you any express or implied rights to
          www.lal10.com or any third party's intellectual property.</p>
      <p style="font-size: 16px; line-height: 25px" align="left">www.lal10.in grants you a limited, personal, nontransferable, non-sub licensable, revocable license : </p>
 <ol style="list-style-type:decimal;">
     <li>Access and use only the site, content and services only in the manner presented by www.lal10.com
      Access and use the www.lal10.in computer and network services offered within the site only in the
      manner expressly permitted by www.lal10.in</li>
 </ol>
 <h2 style="font-size: 25px; font-weight: bold"><b>HYPERLINKS</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="left">The Site may contain hyperlinks to the web pages of third parties. www.lal10.com shall have no liability for
          the contents of such web pages and does not make representations about or endorse their content as its
          own. The use of such web pages shall be at the sole risk of the user. </p>
          <h2 style="font-size: 25px; font-weight: bold"><b>LIMITATION OF LIABILITY</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="left">Except to the extent required by applicable law and then only to that extent, in no event will www.lal10.in, its
          employees, officers, directors, affiliates or agents, be liable to you on any legal theory for any incidental,
          direct, indirect, punitive, actual, consequential, special, exemplary or other damages, including without
          limitation, loss of revenue or income, lost profits, pain and suffering, emotional distress, cost of substitute
          goods or services, or similar damages suffered or incurred by you or any third party that arise in connection
          with the site or Services (or the termination thereof for any reason), even if www.lal10.in has been advised of
          the possibility of such damages. </p>
      <p style="font-size: 16px; line-height: 25px" align="left">The site shall not be responsible or liable whatsoever in any manner for any content posted on the websites
          (including claims of infringement relating to content posted, or for the conduct of third parties). </p>
          <h2 style="font-size: 25px; font-weight: bold"><b>INDEMNITY</b></h2>
      <p style="font-size: 16px; line-height: 25px" align="left">User shall to the fullest extent indemnify and hold harmless the Company, its subsidiaries and affiliates, and
          their respective officers, directors, shareholders, agents, and employees, from any claim or demand, or
          actions including reasonable attorneys' fees, made by any third party or penalty imposed due to or arising
          out of your breach of this Agreement, or the documents it incorporates by reference, or your violation of any
          law, rules or regulations or the rights of a third party. </p> -->




  </div>
</div>
<!-- Privacy  Policy Section End Here -->
