<div id="menu2" class="tab-pane fade" [ngClass]="{'in active': selectedOption==='card'}">
  <div class="profile_data_wrap profile_data_wrap_none ">
      <div class="row">
          <div class="col-md-12 col-lg-10">
              <div class="profile_heading">
                  <h2>Manage Saved Cards</h2>
              </div>
              <div class="add_new_address_card save_card_wrap">
                  <p>Add A New Card</p>
                  <div class="common_input_warp">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control"
                                      placeholder="Enter card Number" value="">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <div class="expairy_details clearfix">
                                      <span>Valid Thru</span>
                                      <div class="select_wrapper_wrap clearfix">
                                  <div class="select_wrapper ">
                                        <select class="form-control" name="" id="">
                                          <option value="">MM</option>
                                          <option value="">JAN</option>
                                              <option value="">FAB</option>
                                               <option value="">MAR</option>
                                              <option value="">APR</option>
                                              <option value="">JUN</option>
                                              <option value="">JUL</option>
                                               <option value="">AUG</option>
                                              <option value="">SEP</option>
                                              <option value="">OCT</option>
                                              <option value="">NOV</option>
                                             <option value="">DEC</option>
                                      </select>
                                  </div>
                                      <div class="select_wrapper">
                                          <select class="form-control" name="" id="">
                                              <option value="">YYYY</option>
                                              <option value="">2015</option>
                                              <option value="">2016</option>
                                               <option value="">2017</option>
                                              <option value="">2018</option>
                                              <option value="">2019</option>
                                              <option value="">2020</option>
                                               <option value="">2021</option>
                                              <option value="">2022</option>
                                          </select>
                                      </div>
                                  </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control"
                                      placeholder="Name on Card" value="">
                              </div>
                          </div>

                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control"
                                      placeholder="Bank Name" value="">
                              </div>
                          </div>
                          <div class="col-md-12">
                              <div class="card_content">
          <p>Your card details would be securely saved for faster payments. Your CVV will not be stored</p>
                              </div>
                              <div class="save_btn_wrap">
                                  <button>SAVE THIS CARD</button>
                                  <label for=""> Cancel</label>
                              </div>
                          </div>
                      </div>
                   </div>
              </div>
              <div class="saved_card_details_warp">
                  <div class="add_new_card_wrap">
                      <img src="assets/images/add_card_icon.png" alt="">
                      <h2>Add New Card</h2>
                  </div>
                  <div class="old_card_details_wrap">
                      <div class="card_delete_wrap">
                          <img src="assets/images/delete_icons.png" alt="">
                      </div>
                      <div class="old_card_wrap">
                          <h2>HDFC Bank Credit Card</h2>
                          <div class="card_no_wrap">
                              <img src="assets/images/visha_card_img.png" alt="">
                              <span>5155 **** **** 8455</span>
                          </div>
                          <p>Expires on: 05/25</p>
                      </div>
                  </div>
                  <div class="old_card_details_wrap">
                      <div class="card_delete_wrap">
                          <img src="assets/images/delete_icons.png" alt="">
                      </div>
                      <div class="old_card_wrap">
                          <h2>ICICI Bank Debit Card</h2>
                          <div class="card_no_wrap">
                              <img src="assets/images/visha_card_img.png" alt="">
                              <span>4900 **** **** 0192</span>
                          </div>
                          <p>Expires on: 10/27</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-2"></div>
      </div>
  </div>
</div>
