/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer;
}


.invaild {
    text-align: left!important;
    margin-top: 5px!important;
    color: red!important;
}
html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.overlay {
  background: rgb(51 51 51 / 0%) !important;
}

